body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

 .container
        {
            max-width:800px;
            color:blue;
            margin:0 auto;
            padding:50px 30 0px 30px;
            font-family:sans-serif;
        }

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

